[Unit]
Description=OpenVPN Admin Web Service
Documentation=https://github.com/zhengdechang/openvpn-admin-go
After=network.target network-online.target nss-lookup.target mysql.service mariadb.service mysqld.service docker.service

[Service]
Type=simple
WorkingDirectory={{ .WorkingDirectory }}
ExecStart={{ .BinaryPath }} web --port {{ .Port }}
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
